<div *ngIf="isLoading" class="page-loader">
  <div class="loader"></div>
</div>
<div class="page-header">
  <div class="back-arrow">
    <a (click)="onBack()">
      <mdb-icon fas icon="arrow-left"></mdb-icon>
    </a>
  </div>
  <h1 class="bold">Lend Book</h1>
</div>

<div class="search-section">
  <div class="search-input">
    <input
      class="search-section__input"
      type="text"
      [(ngModel)]="searchText"
      name="searchText"
      placeholder="Search"
      aria-label="Search"
      autocomplete="off"
    />
  </div>
  <div>
    <button
      class="button button-primary"
      type="button"
      (click)="onSearch(searchText)"
    >
      Search
    </button>
  </div>
</div>
<section class="students-section">
  <div *ngFor="let student of students" class="students-section__card">
    <span>{{ student.name }}</span>
    <button
      class="button button-white-inverted students-section__card__button"
      type="button"
      (click)="onLend(student.studentId)"
    >
      Lend
    </button>
  </div>
</section>
