<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 fixed-bottom">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-2">
          <div class="mb-2 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="1x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
                <mdb-icon fab icon="twitter" size="1x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
                <mdb-icon fab fab icon="google-plus" size="1x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
                <mdb-icon fab icon="linkedin" size="1x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
                <mdb-icon fab icon="instagram" size="1x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
                <mdb-icon fab icon="pinterest" size="1x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->