<div class="wrapper">
	<div class="page-title">
		<h3 class="m-0">Student List</h3>
	</div>
	<div class="search-section">
		<div class="search-input">
			<input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search" aria-label="Search" mdbInput>
		</div>
		<div class="search-button">
			<button mdbBtn type="button" (click)="search(searchText)" color="primary" mdbWavesEffect>Search</button>
		</div>
	</div>
	<div class="create-button">
		<button mdbBtn [routerLink]="['create']" type="button" color="primary" mdbWavesEffect>Add</button>
	</div>
	<div class="table-section">
		<table mdbTable class="mt-2">
			<thead class="grey lighten-1 black-text">
				<tr>
					<th class="col-xl-1 col-1" scope="col">ID</th>
					<th class="col-xl-8 col-8" scope="col">Name</th>
					<th class="col-xl-3 col-3" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol *ngFor="let student of students">
					<th scope="row">{{student.studentId}}</th>
					<td>{{student.name}}</td>
					<td>
						<mdb-icon fas icon="user" mdbTooltip="Student Info" placement="top" [routerLink]="[student.studentId]"
							class="mr-2" aria-hidden="true"></mdb-icon>
						<mdb-icon fas icon="edit" mdbTooltip="Edit" placement="top" [routerLink]="[student.studentId, 'update']"
							class="mr-2" aria-hidden="true"></mdb-icon>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>