.page-header {
    display: flex;
    gap: 1em;

    font-size: 1.2em;
}

.teacher-name {
    font-size: 0.8em;
    padding-bottom: 0.8rem;
}

.book-history-title {
    margin-bottom: 0.5em;
}

.book-card {
    margin-bottom: 0.8em;
    padding: 0.6em 1em 0.6em 1em;

    font-size: 0.8em;

    background-color: var(--cl-primary);
    color: whitesmoke;
    border-radius: 0.5em;

    &__error {
        margin-top: 0.7rem;
        padding: 0.3rem 0.6rem;
        border-radius: 0.5rem;

        color: var(--cl-danger);
        background-color: whitesmoke;
    }

    &__button {
        margin-top: 0.5em;
    }
}