button {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "page-title create-button"
    "search-section search-section"
    "table-section table-section"
    "search-paragraph search-paragraph";
    row-gap: 1em;
    grid-auto-columns: 1fr;

    padding: 12vh 1em 1em 1em;
}

.page-title {
    place-self: center start;
    grid-area: page-title;
}

.search-section {
    grid-area: search-section;
    display: grid;
    grid-template-areas: "search-input search-button";
    grid-auto-columns: minmax(0, 65%) minmax(0, 35%);
}

.search-input {
    grid-area: search-input;
    place-self: stretch;
}

input {
    padding: 0 1em 0 1em;
    width: 100%;
    height: 100%;
}

.search-button {
    grid-area: search-button;
    place-self: end;
}

.create-button {
    grid-area: create-button;
    margin-left: auto;
}

.table-section {
    margin-top: 1em;
    grid-area: table-section;
}

th {
    background-color: #BDBDBD !important;
}

.search-paragraph {
    grid-area: search-paragraph;
    padding-top: 2em;
    text-align: center;
}

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
    height: 65vh;
}
  
.table-fix thead th 
{ 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}

@media(min-width: 700px) {
    .wrapper {
        grid-template-areas: 
            "page-title  search-section search-section create-button" 
            "table-section table-section table-section table-section";
    }

    .search-section {
        grid-auto-columns: minmax(0, 60%) minmax(0, 40%);
    }

    .search-paragraph {
        grid-column: 2 / 4;
    }
    
    button {
        margin-right: 0;
    }
}

@media(min-width: 1200px) {
    .search-section {
        grid-auto-columns: minmax(0, 65%) minmax(0, 35%);
    }
}
