header {
    height: 100%;
    background-color: var(--cl-primary);
}

.flex {
    padding-inline: 1.5rem;
    display: flex;
    gap: var(--gap, 1rem);
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.button {
    color: white;
    font-size: 1.5em;
    padding: 0;
    border: none;
    background-color: transparent;
}

.dropdown-item {
    font-size: 1.1rem;
    padding-inline: 1em;
    color: white;
}

.user-icon {
    padding-right: 0.5em;
    color: white;
}

.dropdown-menu {
    background-color: var(--cl-primary);
}

ul {
    padding-left: 1em !important;
}

.mobile-nav-toggle {
    display: none;
}

.dropdown-menu {
    transition: 0.20s !important;
}

@media (max-width: 42em) {
    .primary-navigation {
        --gap: 2em;

        z-index: 200;
        position: fixed !important;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(20vh, 10rem) 2em;
        background-color: var(--cl-primary);

        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../../assets/shared/icon-close.svg");
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports(backdrop-filter: blur(1rem)) {
        .primary-navigation {
            background-color: rgba(2, 124, 135, 0.7);
            backdrop-filter: blur(1rem);
        }
    }

    .mobile-nav-toggle {
        display: block;
        z-index: 300;
        width: 2rem;
        background-color: transparent;
        background-image: url("../../assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        aspect-ratio: 1;
    }
}