.card {
  border: none;
  border-radius: 0.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  padding-top: 1rem;

  &__icon {
    padding-right: 0.5rem;
  }

  &__button-container {
    width: 100%;
  }

  &__button {
    width: 100%;

    border: none;
    padding-block: 0.5rem;
    border-radius: 0.4rem;
    background-color: whitesmoke;
  }
}

@media (max-width: 385px) {
  .actions__button {
    font-size: 0.7rem;
  }
}