<div class="wrapper">
	<div class="page-title">
		<h3 class="m-0">Teacher List</h3>
	</div>
	<div class="search-section">
		<input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search" aria-label="Search" mdbInput>
	</div>
	<div class="create-button">
		<button mdbBtn [routerLink]="['create']" type="button" color="primary" mdbWavesEffect>Add</button>
	</div>
	<div class="table-section">
		<table mdbTable class="mt-2">
			<thead class="grey lighten-1 black-text">
				<tr>
					<th class="col-md-2" scope="col">ID</th>
					<th class="col-md-4" scope="col">Name</th>
					<th class="col-md-4" scope="col">Email</th>
					<th class="col-md-2" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol *ngFor="let teacher of teachers | appFilter : searchText">
					<th scope="row">{{teacher.id}}</th>
					<td>{{teacher.name}}</td>
					<td>{{teacher.email}}</td>
					<td>
						<mdb-icon fas icon="user" mdbTooltip="Teacher Info" placement="top" [routerLink]="['/teachers', teacher.id]" class="mr-2" aria-hidden="true"></mdb-icon>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>