button {
    margin: 0;
}

.wrapper {
    margin: 1em 1em 0 1em;
    display: grid;
    grid-template-areas: 
        "page-title create-button"
        "search-section search-section"
        "table-section table-section"
        "report-button report-button";
    row-gap: 1em;
}

.page-title {
    place-self: center start;
    grid-area: page-title;
}

.search-section {
    grid-area: search-section;
}

input {
    padding: 1em;
    width: 100%;
    height: 100%;
}

.create-button {
    grid-area: create-button;
    margin-left: auto;
}

.table-section {
    grid-area: table-section;
}

.report-button {
    grid-area: report-button;
    justify-self: end;
}

@media(min-width: 900px) {
    .wrapper {
        grid-template-areas: 
        "page-title search-section create-button"
        "table-section table-section table-section"
        "report-button report-button report-button";
        row-gap: 1em;
    }
}
