<div *ngIf="isLoading" class="page-loader">
  <div class="loader"></div>
</div>
<section class="login-section">
  <h1 class="page-title bold">Sign in</h1>
  <div class="form-section">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm)"
    >
      <label class="input-label" for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        class="form-control"
        autocomplete="off"
      />
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <div *ngIf="email?.errors?.['email']" class="validation-error-message">
          <p>Email is not in the correct format.</p>
        </div>
        <div
          *ngIf="email?.errors?.['required']"
          class="validation-error-message"
        >
          <p>Email is required.</p>
        </div>
      </div>
      <label class="input-label" for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="form-control"
        autocomplete="off"
      />
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <div class="validation-error-message">
          <p>Password is required.</p>
        </div>
      </div>
      <button class="button button-primary" [disabled]="!loginForm.valid" type="submit">Sign in</button>
      <!-- <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p> -->
    </form>
  </div>
</section>
