<div class="wrapper">
    <div class="form-section">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"
            class="text-center border border-light p-5">
            <p class="h4 mb-4">Change Password</p>
            <input type="password" formControlName="oldPassword" class="form-control mb-4" placeholder="Old Password" autocomplete="off">
            <input type="password" formControlName="newPassword" class="form-control mb-4" placeholder="New Password" autocomplete="off">
            <input type="password" formControlName="confirmNewPassword" class="form-control mb-4" placeholder="Confirm New Password" autocomplete="off">
            <button mdbBtn color="info" class="my-4" type="submit">Update Password</button>
        </form>
    </div>
</div>