<div *ngIf="isLoading" class="page-loader">
  <div class="loader"></div>
</div>
<div class="form-section">
  <h1>Change Password</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Old Password</label>
      <input
        id="password"
        type="password"
        formControlName="oldPassword"
        class="form-control"
        placeholder="Old Password"
        autocomplete="off"
      />
    </div>
    <div>
      <label for="password">New Password</label>
      <input
        type="password"
        formControlName="newPassword"
        class="form-control"
        placeholder="New Password"
        autocomplete="off"
      />
    </div>
    <div>
      <label for="password">Confirm Old Password</label>
      <input
        type="password"
        formControlName="confirmNewPassword"
        class="form-control"
        placeholder="Confirm New Password"
        autocomplete="off"
      />
    </div>
    <button class="action-button" type="submit">Update Password</button>
  </form>
</div>
