<div *ngIf="book" class="wrapper">
	<div class="back-arrow">
		<a (click)="onBack()">
			<mdb-icon fas icon="arrow-left"></mdb-icon>
		</a>
	</div>
	<div class="page-title">
		<h2>{{ book?.title }}</h2>
	</div>
	<div class="button-section">
		<div class="lend-button">
			<button mdbBtn [routerLink]="['lend']" type="button" color="primary" mdbWavesEffect>Lend</button>
		</div>
		<div class="return-button">
			<button mdbBtn (click)="onReturn()" type="button" color="primary" mdbWavesEffect>Return</button>
		</div>
		<div class="renew-button">
			<button mdbBtn (click)="onRenew()" type="button" color="primary" mdbWavesEffect>Renew</button>
		</div>
	</div>
	<div *ngIf="book.description" class="book-description">
		<p>{{ book?.description }}</p>
	</div>
	<div class="table-section">
		<h2>Book History</h2>
		<table mdbTable *ngIf="book.transactions">
			<thead class="grey lighten-1 black-text">
				<tr>
					<th class="col-xl-1 col-1" scope="col">ID</th>
					<th class="col-xl-5 col-5" scope="col">Student Name</th>
					<th class="col-xl-3 col-3" scope="col">Lend Date</th>
					<th class="col-xl-3 col-3" scope="col">Returned At</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol *ngFor="let transaction of book.transactions">
					<th scope="row">{{transaction.transactionId}}</th>
					<td>{{transaction.studentName}}</td>
					<td>{{transaction.creationDate | date: 'longDate'}}</td>
					<td>{{transaction.returnedAt | date: 'longDate'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>