button {
    margin: 0;
}

.wrapper {
    padding: 12vh 1em 1em 1em;
    display: grid;
    grid-template-areas: 
        "back-arrow page-title page-title page-title page-title page-title"
        "button-section button-section button-section button-section button-section button-section"
        "book-description book-description book-description book-description book-description book-description"
        "table-section table-section table-section table-section table-section table-section";
    justify-items: center;
    grid-auto-columns: 1fr;
}

.back-arrow {
    align-self: center;
    justify-self: start;
    grid-area: back-arrow;
}

.button-section {
    width: 100%;
    grid-area: button-section;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 1rem 0 1.5rem 0;
}

.page-title {
    place-self: center start;
    grid-area: page-title;
}

.book-description {
    grid-area: book-description;
}

.table-section {
    place-self: stretch;
    grid-area: table-section;
    padding-bottom: 1em;
}

@media(min-width: 1000px) {
    .wrapper {
        justify-items: right;
        grid-template-areas: 
        "back-arrow page-title page-title page-title button-section button-section button-section"
        "book-description book-description book-description book-description book-description book-description book-description"
        "table-section table-section table-section table-section table-section table-section table-section";
        row-gap: 1em;
    }

    .table-section {
        padding-bottom: 3em;
    }

    .lend-button {
        align-self: start;
    }
}