<div class="form-section">
  <div class="back-arrow">
		<a (click)="onBack()">
			<mdb-icon fas icon="arrow-left"></mdb-icon>
		</a>
	</div>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="border border-light p-5 mt-3">
    <p class="h4 mb-4">Add Student</p>
    <input type="text" id="name" formControlName="name" class="form-control mb-4" placeholder="Name">
    <input type="text" id="teacherId" formControlName="teacherId" class="form-control mb-4" placeholder="Teacher Id">
    <button mdbBtn color="success" type="submit">Create</button>
  </form>
</div>