.cards-section {
    display: grid;
    gap: 0.8rem;
    overflow-y: scroll;
    height: 1%;

    &__error-message {
        text-align: center;
    }
}

.book-card {
    &__book-status {
        display: flex;
        margin: 0.25em 0 0.5em 0;
    }

    &__actions {
        display: flex;
        gap: 0.5em;
    }
}

.round-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.2em;

    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;

    background-color: whitesmoke;
}

.check {
    color: green;
}

.times {
    color: red;
}