<section class="header-section">
  <div>
    <h3 class="bold">Book List</h3>
  </div>
  <div class="create-button">
    <button
      class="button button-primary"
      [routerLink]="['create']"
      type="button"
    >
      Add
    </button>
  </div>
</section>
<section class="search-section">
  <div>
    <input
      class="search-section__input"
      type="text"
      [(ngModel)]="searchText"
      name="searchText"
      placeholder="Search"
      aria-label="Search"
      autocomplete="off"
    />
  </div>
  <div>
    <button
      class="button button-primary"
      type="button"
      (click)="search(searchText)"
    >
      Search
    </button>
  </div>
</section>
<section class="cards-section">
  <div class="loader-section">
    <div *ngIf="isLoading" class="loader"></div>
  </div>
  <div *ngFor="let book of books" class="book-card">
    <p>{{ book.reference }} - {{ book.title }}</p>
    <p>{{ book.authorName }}</p>
    <div class="book-card__book-status">
      <div *ngIf="book.status" class="round-icon check">
        <mdb-icon
          fas
          icon="check"
          mdbTooltip="Book Info"
          placement="top"
          aria-hidden="true"
        ></mdb-icon>
      </div>
      <div *ngIf="!book.status" class="round-icon times">
        <mdb-icon
          fas
          icon="times"
          mdbTooltip="Book Info"
          placement="top"
          aria-hidden="true"
        ></mdb-icon>
      </div>
      {{ book.status ? "Available" : "Not Available" }}
    </div>
    <div class="book-card__actions">
      <button
        class="button button-white"
        [routerLink]="[book.bookId]"
        [state]="{ search: searchText }"
      >
        <mdb-icon
          fas
          icon="book"
          mdbTooltip="Book Info"
          placement="top"
          aria-hidden="true"
        ></mdb-icon>
      </button>
      <button
        class="button button-white"
        [routerLink]="[book.bookId, 'update']"
      >
        <mdb-icon
          fas
          icon="edit"
          mdbTooltip="Edit"
          placement="top"
          aria-hidden="true"
        ></mdb-icon>
      </button>
    </div>
  </div>
  <p
    class="cards-section__error-message"
    *ngIf="books.length == 0 && !isLoading"
  >
    No results for this search
  </p>
</section>
