<div class="flex-wrapper">
  <section>
    <app-page-header title="Book List"></app-page-header>
    <app-search-input (searchEvent)="search($event)"></app-search-input>
  </section>
  <div class="loader-section">
    <div *ngIf="isLoading" class="loader"></div>
  </div>
  <section
    *ngIf="books.length > 0 && !isLoading"
    class="cards-section flex-scroll"
  >
    <div *ngFor="let book of books" class="book-card default-card">
      <p>{{ book.reference }} - {{ book.title }}</p>
      <p>{{ book.authorName }}</p>
      <div class="book-card__book-status">
        <div *ngIf="book.status" class="round-icon check">
          <mdb-icon
            fas
            icon="check"
            mdbTooltip="Book Info"
            placement="top"
            aria-hidden="true"
          ></mdb-icon>
        </div>
        <div *ngIf="!book.status" class="round-icon times">
          <mdb-icon
            fas
            icon="times"
            mdbTooltip="Book Info"
            placement="top"
            aria-hidden="true"
          ></mdb-icon>
        </div>
        {{ book.status ? "Available" : "Not Available" }}
      </div>
      <div class="book-card__actions">
        <button
          class="button button-white"
          [routerLink]="[book.bookId]"
          [state]="{ search: searchText }"
        >
          <mdb-icon
            fas
            icon="book"
            mdbTooltip="Book Info"
            placement="top"
            aria-hidden="true"
          ></mdb-icon>
        </button>
        <button
          class="button button-white"
          [routerLink]="[book.bookId, 'update']"
        >
          <mdb-icon
            fas
            icon="edit"
            mdbTooltip="Edit"
            placement="top"
            aria-hidden="true"
          ></mdb-icon>
        </button>
      </div>
    </div>
  </section>
  <p
    class="cards-section__error-message"
    *ngIf="books.length == 0 && !isLoading"
  >
    No results for this search.
  </p>
</div>
