<div class="wrapper">
	<div class="page-title">
		<h3>Student List</h3>
	</div>
	<div class="student-list-section">
		<table mdbTable mdbTableScroll maxHeight="200">
			<thead class="grey lighten-1 black-text">
				<tr>
					<th class="col-1 col-xl-1" scope="col">ID</th>
					<th class="col-7 col-xl-7" scope="col">Name</th>
					<th class="col-2 col-xl-2" scope="col">Books</th>
					<th class="col-2 col-xl-2" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol *ngFor="let student of students">
					<th scope="row">{{student.studentId}}</th>
					<td>{{student.name}}</td>
					<td>{{student.numberOfActiveBooks}}</td>
					<td>
						<mdb-icon fas icon="user" mdbTooltip="Student Info" placement="top" [routerLink]="['/students', student.studentId]" class="mr-2" aria-hidden="true"></mdb-icon>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="late-book-section">
		<h3>Late Book List</h3>
		<div class="late-book-table" *ngIf="lateBooks.length != 0">
			<table mdbTable mdbTableScroll maxHeight="200">
				<thead class="grey lighten-1 black-text">
					<tr>
						<th class="col-2 col-xl-2" scope="col">Reference</th>
						<th class="col-5 col-xl-4" scope="col">Book Title</th>
						<th class="col-5 col-xl-4" scope="col">Student</th>
						<th class="col-5 col-xl-2" scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr mdbTableCol *ngFor="let book of lateBooks">
						<th scope="row">{{book.bookId}}</th>
						<td>{{book.bookTitle}}</td>
						<td>{{book.studentName}}</td>
						<td>
							<mdb-icon fas icon="book" mdbTooltip="Book Info" placement="top" [routerLink]="['/books', book.bookId]" class="mr-2" aria-hidden="true"></mdb-icon>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p *ngIf="lateBooks.length == 0">There are no late books.</p>
	</div>
</div>