.header {
    height: calc(var(--vh, 1vh) * 10);
}

.body {
    height: calc(var(--vh, 1vh) * 85);
    padding: 1rem 1.5rem 1rem 1.5rem;
    overflow: hidden;
}

.footer {
    height: calc(var(--vh, 1vh) * 5);
}