.header {
    height: calc(var(--vh, 1vh) * 10);
}

.body {
    height: calc(var(--vh, 1vh) * 85);
    padding: 1em 1.5em 1em 1.5em;
    overflow: hidden;
}

.footer {
    height: calc(var(--vh, 1vh) * 5);
}