<div class="flex-wrapper">
  <section>
    <app-page-header title="Teacher List"></app-page-header>
    <div class="search-section">
      <input
        class="search-input"
        type="text"
        [(ngModel)]="searchText"
        name="searchText"
        autocomplete="off"
        placeholder="Search"
        aria-label="Search"
        autocomplete="off"
        mdbInput
      />
    </div>
  </section>
  <section class="flex-scroll">
    <app-card-list
      (openModalEvent)="open($event)"
      [cards]="teacherCards"
      [isLoading]="isLoading"
      [searchText]="searchText"
    ></app-card-list>
  </section>
  <div class="report-button">
    <button
      class="generate-report-button"
      [routerLink]="['report']"
      type="button"
      color="primary"
    >
      Generate Report
    </button>
  </div>
</div>
