<ng-template #content let-modal class="modal">
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Delete Teacher</h1>
    <mdb-icon
      fas
      icon="times"
      mdbTooltip="Close Modal"
      placement="top"
      (click)="modal.dismiss('Cross click')"
      class="mr-2"
      aria-hidden="true"
    ></mdb-icon>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <p>Are you sure you want to delete the teacher?</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="button button-primary"
      (click)="modal.dismiss('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="button button-danger"
      (click)="modal.close('Save click')"
    >
      Delete
    </button>
  </div>
</ng-template>

<div class="flex-wrapper">
  <section>
    <app-page-header title="Teacher List"></app-page-header>
    <div class="search-section">
      <input
        class="search-input"
        type="text"
        [(ngModel)]="searchText"
        name="searchText"
        autocomplete="off"
        placeholder="Search"
        aria-label="Search"
        autocomplete="off"
        mdbInput
      />
    </div>
  </section>
  <section class="flex-scroll">
    <app-card-list
      (openModalEvent)="open(content, $event)"
      [cards]="teacherCards"
      [isLoading]="isLoading"
      [searchText]="searchText"
    ></app-card-list>
  </section>
  <div class="report-button">
    <button
      class="generate-report-button"
      [routerLink]="['report']"
      type="button"
      color="primary"
    >
      Generate Report
    </button>
  </div>
</div>
