<div class="header-section">
  <h1 class="bold">Author List</h1>
  <div class="create-button">
    <button
      class="button button-primary"
      [routerLink]="['create']"
      type="button"
    >
      Add
    </button>
  </div>
</div>
<div class="search-section">
  <div>
    <input
      class="search-section__input"
      type="text"
      [(ngModel)]="searchText"
      name="searchText"
      placeholder="Search"
      aria-label="Search"
      autocomplete="off"
    />
  </div>
  <div class="search-button">
    <button
      class="button button-primary"
      type="button"
      (click)="search(searchText)"
    >
      Search
    </button>
  </div>
</div>
<section class="cards-section">
  <div class="loader-section">
    <div *ngIf="isLoading" class="loader"></div>
  </div>
  <div *ngIf="!isLoading">
    <div *ngFor="let author of authors" class="author-card">
      <p>{{ author.name }}</p>
      <button
        class="button button-white-inverted author-card__button"
        [routerLink]="[author.authorId]"
        [state]="{ search: searchText }"
      >
        <mdb-icon
          fas
          icon="user"
          mdbTooltip="Author Info"
          aria-hidden="true"
        ></mdb-icon
        >Info
      </button>
    </div>
  </div>
  <p
    class="cards-section__error-message"
    *ngIf="authors.length == 0 && !isLoading"
  >
    No results for this search
  </p>
</section>
