.header-section {
    display: flex;
    gap: 1em;

    margin-bottom: 0.8em;

    font-size: 1.2em;
}

.card {
    margin-bottom: 0.8em;
    padding: 0.6em 1em 0.6em 1em;

    font-size: 0.8em;

    background-color: var(--cl-primary);
    color: whitesmoke;
    border-radius: 0.5em;

    &__book-icon {
        padding-right: 0.2rem;
    }

    &__teacher {
        margin-bottom: 0.5em;
    }

    &__student-container {
        background-color: whitesmoke;
        border-radius: 0.5em;
        padding: 0.6em 1em 0.6em 1em;
    }

    &__student {
        color: black;

        margin: 0 0 0.5em 1em;

        &__book {
            border-radius: 0.5em;
            padding: 0.3em 0.5em 0.3em 1.5em;
        }

        &__book-info {
            padding-left: 0.5rem;
        }
    }
}