.header-section {
    display: flex;
    gap: 1em;

    margin-bottom: 0.8em;
}

.button-section {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

.button {
    margin-top: 0.8em;
}