section {
  height: 50%;
}

.student-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.8rem;

  &__title {
    white-space: nowrap;
    margin-right: 1em;
  }

  &__search-input {
    padding-left: 0.5em;
    width: 100%;
    border-radius: 0.3em;
    border: 2px solid hsl(0, 0, 0, 0.55);
  }
}