<section>
  <div class="flex-wrapper">
    <h1 class="bold">Late Book List</h1>
    <div class="flex-scroll">
      <app-card-list
        [cards]="lateBooksCards"
        [isLoading]="isLoadingLateBookList"
      ></app-card-list>
    </div>
  </div>
</section>
<section>
  <div class="flex-wrapper">
    <div class="student-section-header">
      <h1 class="bold student-section-header__title">Student List</h1>
      <div class="search-section">
        <input
          class="student-section-header__search-input"
          type="text"
          [(ngModel)]="searchText"
          name="searchText"
          placeholder="Search"
          aria-label="Search"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="flex-scroll">
      <app-card-list
        [cards]="studentsCards"
        [isLoading]="isLoadingStudentList"
        [searchText]="searchText"
      ></app-card-list>
    </div>
  </div>
</section>
