.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1em;

    &__title {
        font-size: 1.2em;
    }
}

.search-section {
    display: flex;
    gap: 0.5em;

    margin-bottom: 1em;

    &__input {
        padding-left: 0.5em;
        width: 100%;
        height: 100%;
        border-radius: 0.3em;
        border: 2px solid hsl(0, 0, 0, 0.55);
    }
}

.cards-section {
    overflow-y: scroll;
    height: 57vh;

    &__error-message {
        text-align: center;
    }
}

.student-card {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.8em;
    padding: 0.6em 1em 0.6em 1em;

    font-size: 0.8em;

    background-color: var(--cl-primary);
    color: whitesmoke;
    border-radius: 0.5em;

    &__button-section {
        padding-top: 0.5em;

        display: flex;
        justify-content: space-between;
        gap: 0.5em;
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
}

@media(min-height: 740px) {
    .cards-section {
        height: 59vh;
    }
}

@media(min-height: 844px) {
    .cards-section {
        height: 60vh;
    }
}

@media(min-height: 900px) {
    .cards-section {
        height: 66vh;
    }
}