<div class="header-section">
  <div class="back-arrow">
    <a (click)="onBack()">
      <mdb-icon fas icon="arrow-left"></mdb-icon>
    </a>
  </div>
  <h1 class="bold">Update Student</h1>
</div>
<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
  <label for="studentName">Name</label>
  <input
    type="text"
    id="studentName"
    formControlName="studentName"
    class="form-control mb-4"
    placeholder="Student Name"
    autocomplete="off"
  />
  <label for="teacher">Teacher</label>
  <select
    id="teacher"
    class="dropdown form-control"
    (change)="selectTeacher($event)"
  >
    <option *ngFor="let teacher of teachers" value="{{ teacher.reference }}">
      {{ teacher.name }}
    </option>
  </select>
  <div class="button-section">
    <button class="button button-clear" (click)="onClear()" type="button">
      Clear
    </button>
    <button class="button button-primary" type="submit">Create</button>
  </div>
</form>
